@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: rgb(24 24 27);
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
}
